<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596135149998-1g7ai68e7rlb49iv0lndh3ale905e0ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596135149998-1g7ai68e7rlb49iv0lndh3ale905e0ev</string>
	<key>API_KEY</key>
	<string>AIzaSyA3u0f2b6RBpeT0aytkGPFdZnPTOVFJyfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>596135149998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.givigir.MyCoins</string>
	<key>PROJECT_ID</key>
	<string>cambio-sincero</string>
	<key>STORAGE_BUCKET</key>
	<string>cambio-sincero.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:596135149998:ios:f596b6136c7875fd35883f</string>
</dict>
</plist>
